* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.95);
}

.red { background: red; }
.green { background: green; }
.blue { background: blue; }
.yellow { background: gold; }

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: white;
  color: black;
  cursor: pointer;
}
