body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
}

.game{
    padding:20px;
}

h1{
    margin-top:20px;
}

.money{
    font-size:40px;
    margin:20px 0;
    color:gold;
}

#tapBtn{
    width:220px;
    height:220px;
    border:none;
    border-radius:50%;
    font-size:30px;
    cursor:pointer;
}

.shop{
    display:block;
    width:250px;
    margin:15px auto;
    padding:15px;
    font-size:18px;
    cursor:pointer;
}

#income{
    margin-top:20px;
    font-size:22px;
}
